@import '../global.scss';

.table-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    position:relative;
    justify-content: center;
}

.links{
    padding-top:50px;
    padding-bottom: 50px;
    list-style-type: none;
    display: flex;
    justify-content: center;

}


.links a{
    color:black;
    font-weight: normal;
    font-size:15px;
    margin-left: 15px;
    text-decoration: none;
    letter-spacing: 0.5px;
    padding: 0 10px;
    display: inline-block;
   
    cursor:pointer;
}



.links a::after{
    content: "";
    display: block;
    width: 0;
    height:2px;
    background: black;
    text-decoration: underline;
    transform: translate3d(0%, 0, 0);//apare linia de la stanga la dreapta
    transition:all linear 240ms;
}

.active, a:hover {
    background-color: #c6dce2;
    border-radius: 10px 10px ;
    transition: .5s;
}



/*.links a:hover::after{
    width:100%;
    text-decoration: underline;

}*/

.active, a::after{
    background-color: none;

}


table{
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

table tr th,
table tr tb {//pentru colturile rotunde
    text-align: center;
    border-radius: 20px 20px 20px 20px;
    padding: 12px;
}

thead{
    color: white;
    min-width: 1px;
}


th,td{
    border: 5px solid white;
    text-align: center;
    padding: 4px;
    font-size: 15px;
    font-family: $text-font-family
}

th{
    background-color: $link-color-blue;
}

td{
    background-color: rgb(198, 220, 226);
    border-radius: 10px 10px 10px 10px;
}

.xls-button{
    align-items: center;
}

.save-button{
    padding-top: 20px;
    padding-left: 750px;
}

button {
    background: $link-color-blue;
    border: 1px solid $btn-border-color;
    border-radius: 8px;
    padding: 0em 1em;
    height: 40px;
    font-family: $text-font-family;
    color: $btn-text-color;
    font-weight: 600;
    cursor: pointer;
  }


@media only screen and (max-width: 850px){
    .save-button{
        padding-left: 550px;
    }
}

@media only screen and (max-width: 750px){
    .save-button{
        padding-left: 350px;
    }
}


  