body{
  margin:0;
  font-family: Segoe UI, SegoeUI, "Helvetica Neue", Helvetica, Arial,
  sans-serif;
}

.Navbar-Component{
  width:20vw;
  background-color: #232931;
  font-weight: 650;
  height:100vh;
}

.Navbar{
  padding:8vh 10px 0 12%;
}

.Top{
  display:flex;
  color:white;
  flex-wrap: wrap;
}

.Logo{
 height:50px;
 background-color: #232931;
 margin-right:10px;
}

p{
  margin:0;
}

.DepartmentsList{
  list-style:none;
  padding: 0;
  margin-top:15vh;
  color:rgb(156, 156, 156);
}

.DepartmentsList li{
  margin-bottom: 7px;
  font-size:17px;
}

li, img, p:hover{
  cursor: pointer;
}

